{% extends "base/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
    <br>
    <br>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <blockquote class="blockquote text-center">
        <p class="mb-2">Где много любви, цветов - всегда мало.</p>
        <span class="lead larger-text"><em>(c)Леонид Сухоруков</em></span>
    </blockquote>
    <div class="login-container mt-4">
        <div class="login-form card p-4 shadow">
            <h2 class="text-center mb-4">Вход</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}